<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <br>
      <br>
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-xl-8">
      <iframe src="https://player.twitch.tv/?channel=skwurrel" frameborder="0" allowfullscreen="true" scrolling="no"
        height="473" width="720"></iframe><a
        href="https://www.twitch.tv/skwurrel?tt_content=text_link&tt_medium=live_embed"
        style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
    </div>
    <div class="col-lg-4 col-xl-4">
      <iframe src="https://www.twitch.tv/embed/skwurrel/chat" frameborder="0" scrolling="no" height="473"
        width="350"></iframe>
    </div>
  </div>
</div>