<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <div class="card shadow">
        <div class="card-header">
          <h2>Skwurrel Merch</h2>
        </div>
        <div class="card-body">
          <p>Help support your favorite skwurrel by using this 15% discount code at checkout: <b>SKWUR</b></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-xl-4">
      <div class="card shadow text-center">
        <div class="card-header">
          <h3>SOESIC CLOTHING</h3>
        </div>
        <div class="card-body">
          <img src="https://i.imgur.com/8dYAwe2.png" alt="soesic clothing" style="max-height: 200px;">
          <hr>
          <p>I am currently sponsored by <a href="https://soesicclothing.co/">SOESIC CLOTHING</a>. Use the discount code mentioned above for 15%
            off!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xl-4">
      <div class="card shadow text-center">
        <div class="card-header">
          <h3>SOESIC CLOTHING</h3>
        </div>
        <div class="card-body">
          <img src="https://i.imgur.com/VnGI8jL.png" alt="sweater" style="max-height: 250px;">
          <hr>
          <a href="https://soesicclothing.co/" class="btn btn-dark btn-block">Shop</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xl-4">
      <div class="card shadow text-center">
        <div class="card-header">
          <h3>SOESIC CLOTHING</h3>
        </div>
        <div class="card-body">
          <img src="https://i.imgur.com/yDDcpsX.png" alt="shirt" style="max-height: 250px;">
          <hr>
          <a href="https://soesicclothing.co/" class="btn btn-dark btn-block">Shop</a>
        </div>
      </div>
    </div>
  </div>
</div>